@charset "UTF-8";

/*Estilos para impressora*/

*{
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu{
    display: none; /*não vai ser exibido*/
}

article{
    width: 100%;
}

article::after{
    content: 'Essa artigo foi impresso seguindo as configurações de Vinícius Paixão Silva';
}