@charset "UTF-8";

*{  
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/

}

body{
    background-attachment: fixed; /*fixa o fundo em um unico background para não haver repetições*/
    background-image: linear-gradient(to bottom,#048C80, #036F8C) ;
}

main{
    background-color: #fff;
    border-radius: 10px; /*arredondamento das pontas da div main*/
    box-shadow: 5px 5px 3px rgba(3, 99, 125, 0.705); /*sombramento)*/
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #01568C;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(1, 72, 116, 0.619);
}

h2{
    color: #07A77B;
}

p{
    text-align: justify;
}